# Configuration Django
DJANGO_SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.vercel.app

# Configuration Base de données Cloud (Railway)
DB_NAME=railway
DB_USER=root
DB_PASSWORD=GxwsMebGzWqsPuGaLUKHAERcNcuxCpPN
DB_HOST=mysql.railway.internal
DB_PORT=3306

# Configuration CORS & API
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://hotelpro-frontend-green.vercel.app
OPENAI_API_KEY=sk-proj-votre-vraie-cle-api-complete-ici...